
:root {
    /* the current background color; this changes via js */
    --current-background: #e4e4e4;
    --current-background-darker: #ebebeb;
    --current-foreground: #464159;
    --current-foreground-darker: #363245;
     
    --background-light: #e4e4e4;
    --background-dark: #464159;

    --light: #e4e4e4;
    --highlight: #C7F0DB;
    --primary: #8BBABB;
    --accent: #6C7B95;
    --dark: #464159;

    --heading-font: 'Cardo', serif;
    --body-font: 'Josefin Sans', sans-serif;

    --header-height: 91px;
}

body {
    background-color: var(--current-background);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* global site-specific styling */

.page-content-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - var(--header-height));
}

.page {
    /* width: 100vw; */
    height: calc(100vh - var(--header-height));

    scroll-snap-align: start;

    position: relative;
}

.button {
    color: var(--current-background);
    background-color: var(--current-foreground);
    padding: 5px 15px;
    border-radius: 3px;

    transition: filter 0.2s ease;
}

.button:hover {
    filter: brightness(1.1);
}

.button:active {
    filter: brightness(0.8);
}

@media (max-width: 950px) {
    :root {
        --header-height: 76px;
    }
}

@media (max-width: 850px) {
    :root {
        --header-height: 85px;
    }
}

@media (max-width: 500px) {
    :root {
        --header-height: 71px;
    }
    
    .page-content-container {
        /* we can't guarantee every page's content can fit within the viewport on mobile; 
           snapping would make it impossible for users to see content that isn't immediately visible in the viewport */
        scroll-snap-type: none;
    }
}