
.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 12px 0px;
}

/* site-wide logo styles */

.site-header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.logo__img {
    width: 65px;
}

.logo__text {
    font-family: var(--heading-font);
    color: var(--primary);
    font-size: 2.8em;
}

/* site-wide navigation styles */

.site-header__nav {
    font-family: var(--heading-font);
}

.hamburger {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}

.nav-list__link {
    color: var(--accent);
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.nav-list__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-list__link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-list__vertical-break:before {
    content: "";
    border-left: 2px ridge var(--highlight);
}

.nav-list__link--button {
    color: var(--current-background);
}

/* responsive styles */

@media (max-width: 1100px) {
    .site-header {
        width: 90%;
    }
}

@media (max-width: 950px) {
    .site-header {
        width: 95%;
    }

    .logo__img {
        width: 45px;
    }

    .logo__text {
        font-size: 2.2em;
    }
}

@media (min-width: 851px) {
    /* in case the user toggles 'off' the responsive menu, then makes the browser window bigger */
    .site-header__nav {
        display: block !important;
    }
}

@media (max-width: 850px) {
    .site-header {
        width: calc(100% - 30px);
        padding: 12px 15px;
    }

    .site-header__nav {
        display: none;
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        z-index: 30;
    }

    .hamburger {
        display: block;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list__item {
        width: 100%;
        text-align: center;
        cursor: pointer;

        background-color: var(--current-background);
        transition: filter 0.3s ease;
    }

    .nav-list__item:hover {
        filter: brightness(0.9);
    }

    .nav-list__link {
        display: block;
        padding: 15px 0px;
    }

    .break {
        display: none;
    }

    .nav-signup:hover {
        filter: brightness(1.1);
    }
}

@media (max-width: 500px) {
    .site-header {
        width: calc(100% - 30px);
        padding: 5px 15px;
    }

    .logo__text {
        font-size: 1.8em;
    }

    .logo__img {
        width: 35px;
    }

    .hamburger-box {
        width: 30px;
    }

    .hamburger-inner {
        width: 30px;
    }

    .hamburger-inner:before {
        width: 30px;
    }

    .hamburger-inner:after {
        width: 30px;
    }
}

@media (max-width: 300px) {
    /* Galaxy Fold */
    .site-header {
        width: calc(100% - 10px);
        padding: 5px 5px;
    }
}