
.landing-view {
    height: calc(100vh - 91px);
    position: relative;
}

.landing-view__img-container {
    position: relative;
    background-color: transparent;
}

.landing-view__img-container:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 91px);
    clip-path: polygon(0% 0%, 100% 885px, 100% 100%, 0% 100%);

    background-color: var(--current-foreground);
}

.landing-view__img {
    position: relative;
    z-index: 1;
    width: 600px;
    left: 10vw;
    top: 170px;
    filter: drop-shadow(2px 4px 6px var(--current-foreground));
}

.text-container {
    text-align: right;
    position: absolute;
    top: 17vh;
    right: 17vw;
    direction: rtl;
}

.text-container__title {
    font-family: var(--heading-font);
    font-size: 2.5em;
    color: var(--current-foreground);
}

.text-container__subtitle-container {
    width: 500px;
    margin-bottom: 15px;
}

.text-container__subtitle {
    font-family: var(--body-font);
    font-size: 1.5em;
    color: var(--primary);
}

.landing-view__down-arrow {
    animation-name: slow-bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border: solid var(--current-background);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    transform: translateX(50%) rotate(45deg);
    position: absolute;
    bottom: 75px;

    right: 50%;

    cursor: pointer;

    transition: filter 0.2s ease;
}

.landing-view__down-arrow:hover {
    filter: brightness(1.2) blur(1px);
}

.landing-view__down-arrow:active {
    filter: brightness(0.8);
}

@keyframes slow-bounce {
    0% { bottom: 80px; }
    50% { bottom: 75px; }
    100% { bottom: 80px; }
}