
.parallax-container {
    /* padding: 25vh 0px; 
    height: fit-content; */

    height: 60vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-container-1 {
    background-image: url('../img/parallax1.jpg');
}

.parallax-container__title {
    font-family: var(--heading-font);
    color: var(--current-background);

    font-size: 3em;
    letter-spacing: 5px;

    background-color: rgba(70, 64, 89, 0.5);

    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}